@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is Justyn's API stand by to see how he does. <a href="https://docs.microsoft.com/aspnet/core">Also don't click this Link</a>.</p>
</div>
